[submodule "resources/[modules]/[systems]/inventory"]
	path = resources/[modules]/[systems]/inventory
	url = https://github.com/NonstopRP/inventory
[submodule "resources/[modules]/[systems]/chat"]
	path = resources/[modules]/[systems]/chat
	url = https://github.com/NonstopRP/chat
[submodule "resources/[modules]/[systems]/ui"]
	path = resources/[modules]/[systems]/ui
	url = https://github.com/NonstopRP/ui
[submodule "resources/[modules]/[assets]"]
	path = resources/[modules]/[assets]
	url = https://github.com/NonstopRP/assets
[submodule "resources/[modules]/[vehicles]"]
	path = resources/[modules]/[vehicles]
	url = https://github.com/NonstopRP/vehicles
[submodule "resources/[modules]/clothing"]
	path = resources/[modules]/clothing
	url = https://github.com/NonstopRP/clothing
[submodule "resources/[modules]/[interiors]"]
	path = resources/[modules]/[interiors]
	url = https://github.com/NonstopRP/interiors
[submodule "resources/[modules]/[systems]/devices"]
	path = resources/[modules]/[systems]/devices
	url = https://github.com/NonstopRP/devices
[submodule "resources/[modules]/[interiors_escrow]"]
	path = resources/[modules]/[interiors_escrow]
	url = https://github.com/NonstopRP/interiors_escrow
[submodule "resources/[modules]/[vehicles_private]"]
	path = resources/[modules]/[vehicles_private]
	url = https://github.com/NonstopRP/vehicles_private
[submodule "resources/[modules]/mdt"]
	path = resources/[modules]/mdt
	url = https://github.com/NonstopRP/mdt
