body {
	width: 100%;
	height: 100%;
}

.row.contact {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	padding-left: 4%;
	padding-right: 4%;
	height: 8%;
}

.col > * {
	margin-top: 2%;
	margin-bottom: 0px;
}

div.col:first-child {
	margin-top: 5% !important;
	margin-bottom: 0px;
}