body {
	width: 100%;
	height: 100%;
	--primary-color: rgb(54, 33, 194)
}

.app-content {
	display: block;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden scroll !important;
	height: auto;
	background-color: var(--background-color);
}

tr {
	user-select: all;
	pointer-events: all;
}

.track {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: var(--primary-color);
	border-radius: 4px;
	margin: 5px;
	width: calc(100% - 10px);
	padding: 5px;
}

.track span {
	padding-left: 2px;
	padding-top: 0px;;
	color: white;
}

.btn {
	display: flex;
	margin: 3px;
	width: auto;
}

#editing .btn {
	align-items: center;
	justify-content: center;
	color: white;
	display: flex;
	max-width: 3vmin !important;
	max-height: 6vmin;
	text-align: center;
	font-weight: 1000;
}

.track-add, #add-checkpoint {
	background-color: green;
}

.track-remove {
	background-color: red;
}

#delete {
	align-items: center;
	justify-content: center;
}

#delete > img {
	width: 1.0em;
	height: 1.0em;
}

/* #editing > .track-add {
	margin-top: 2vmin;
} */