body {
	width: 100%;
	height: 100%;
}

.top > * {
	margin-top: 2%;
	margin-bottom: 0px;
}

.top:first-child {
	margin-top: 5% !important;
	margin-bottom: 0px;
}

.row, .col:not(.top) {
	overflow:visible;
}

.row.contact {
	height: auto !important;
}

#name {
	text-align: left;
	font-size: 80%;
	font-weight: 550;
	overflow-wrap: break-word;
}

#timestamp {
	text-align: right;
	font-size: 80%;
	font-style: italic;
}

#preview {
	text-align: left;
	font-size: 80%;
}

.row.title {
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: nowrap;
	margin: 0px !important;
}

.unread-message {
	position: absolute;
	display: block;
	color: orange;
	font-size: 32px;
	width: auto;
	height: auto;
	top: calc(50% - 32px);
	left: 40px;
	text-shadow: 1px 1px 1px black;
}