* {
	--primary-color: rgb(243, 221, 221) !important;
	--secondary-color: rgb(255, 29, 29) !important;
	--scrollbar-color: rgb(255, 54, 54) !important;
	--radius: 8px;
}

body {
	width: 100%;
	height: 100%;
}

span {
	font-size: 90%;
}

textarea {
	width: 100%;
	margin: 10px;
	margin-bottom: 0px;
	box-shadow: none !important;
	border: none;
	padding: 8px;
	background-color: rgb(250, 250, 250);
	resize: none;
	height: 88px;
	border-radius: var(--radius);
}

.app-header {
	background-color: var(--secondary-color);
}

.app-content .row {
	margin-left: 10px;
	margin-right: 10px;
	justify-content: space-between;
}

.message {
	margin: 4%;
	width: auto;
	height: auto;
	background-color: var(--primary-color);
	padding: 10px !important;
	border-radius: var(--radius);
}

#name {
	font-size: 80%;
	opacity: 50%;
	user-select: all;
}

#number {
	font-size: 80%;
	opacity: 50%;
	user-select: all;
}

button {
	color: black !important;
	padding: none;
	margin: none;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: calc(100% - 20px) !important;
	border-radius: var(--radius);
}

#char-left {
	position: absolute;
	bottom: 5px;
	right: 20px;
	opacity: 50%;
}

.btn:focus, .btn:hover {
	color: black !important;
}