:root {
	--background-color: rgb(32, 32, 32);
	--primary-color: rgb(43, 86, 198);
	--scrollbar-color: rgb(23, 39, 82);
	--width: 637px;
	--height: 1379px;
	--scale: 0.55;
}

* {
	color: black;
	overflow: hidden;
	user-select: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	background-color: transparent;
	height: 100vh !important;
	margin: 0px !important;
	padding: 0px !important;
	width: 100vw !important;
}

iframe {
	border: none;
	outline: none;
	box-shadow: none;
	background: none !important;
}

button {
	outline: none;
	border: none;
	background-color: transparent;
	user-select: none;
}

button:active {
	outline: none !important;
	border: none !important;
}

textarea {
	border: none;
	overflow: auto;
	outline: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	resize: none;
}

img.embed {
	max-width: 100%;
	max-height: 50vmin;
}

*:focus {
	box-shadow: none !important;
}

.btn, .btn:hover, .btn:active, .btn:focus {
	border: none !important;
	outline: none !important;
	box-shadow: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: var(--primary-color) !important;
}

.phone {
	display: block;
	position: absolute;
	pointer-events: none !important;
	user-select: none !important;
	width: 100%;
	height: 100%;
}

.phone-container {
	display: block;
	position: absolute;
	margin: 0px;
	padding: 0px;
	right: 200px;
	left: auto;
	top: auto;
	bottom: 0px;
	height: calc(var(--height) * var(--scale));
	width: calc(var(--width) * var(--scale));
}

.phone-content {
	display: block;
	position: absolute;
	pointer-events: all !important;
	user-select: all !important;
	background-image: url("assets/background3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: calc(40px * var(--scale));
	height: auto;
	margin: 6% 6% 6% 6%;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	width: auto;
}

.home-title {
	position: absolute;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	top: 3.6vmin;
	width: 100%;
	height: auto;
}

.home-title span {
	color: white;
	text-align: center;
	height: auto;
}

.apps {
	padding: 2%;
	padding-top: 40%;
	width: 100%;
	height: auto;
	top: 0px;
	bottom: 100px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.apps > .app {
	width: 20%;
	padding-bottom: 20%;
	position: relative;
	margin: 2.5%;
	margin-bottom: 10%;
	font-size: calc(20px * var(--scale)) !important;
}

.app-bar {
	backdrop-filter: blur(32px);
	background-color: rgba(255, 255, 255, 0.2);
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	height: 10%;
	left: 0px;
	padding: 3%;
	right: 0px;
	bottom: 5%;
}

.nav-bar {
	backdrop-filter: blur(32px);
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	padding: 3%;
	height: 5%;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.nav-button {
	width: calc(58px * var(--scale));
	height: calc(58px * var(--scale));
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40% 40%;
}

.app {
	height: calc(98px * var(--scale));
	width: calc(98px * var(--scale));
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90% 90%;
	margin-top: 6%;
	margin-bottom: 6%;
	margin-left: 3.5%;
	margin-right: 3.5%;
	overflow: visible;
}

.app-text {
	color: white;
	position: relative;
	width: 140%;
	height: auto;
	left: -20%;
	bottom: calc(-120px * var(--scale));
	line-height: 2vh;
	font-weight: 600;
	font-size: calc(20px * var(--scale));
	text-align: center;
	overflow: visible;
	align-items: baseline;
}

.app-container {
	position: absolute;
	background-color: white;
	width: 100%;
	height: 95%;
	top: 0px;
	bottom: 5%;
	padding: 0px;
}

.app-content {
	overflow-y: scroll !important;
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0px;
	top: 9%;
	background-color: white;
}

.app-header {
	position: absolute;
	color: white;
	background-color: var(--primary-color);
	outline: 1px solid rgba(50, 50, 50, 1.0);
	top: 0px;
	height: 9%;
	width: 100%;
}

.app-title {
	position: absolute;
	color: white;
	text-align: center;
	font-weight: 600;
	font-size: 110%;
	bottom: 5px;
	width: 100%;
	height: auto;
}

.multiselect {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	align-items: center;
	justify-content: center;
}

.multiselect-close {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
}

.multiselect-content {
	display: flex;
	background-color: rgb(250, 250, 250);
	border-radius: 0px;
	border: 1px solid rgb(128, 128, 128);
	width: 80%;
	padding-top: 0px;
	height: auto;
	flex-flow: column wrap;
	z-index: 1;
}

.multiselect-content button {
	height: 50px;
}

.add {
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	height: 40px;
	width: 40px;
	background-image: url("assets/add.png");
	background-size: 100% 100%;
}

/* Notifications */
.notifications {
	user-select: none;
	pointer-events: none;
	display: flex;
	position: absolute;
	align-items: flex-end;
	flex-direction: column-reverse;
	margin: 0px;
	padding: 0px;
	right: 200px;
	left: auto;
	top: 0px;
	bottom: 20px;
	height: auto;
	width: calc(var(--width) * var(--scale));
	overflow: visible;
}

.notifications, .notifications > * {
	overflow: visible;
}

.notifications img:not(.embed) {
	width: 2vmin;
	height: 2vmin;
	position: absolute;
	display: block;
	right: -1vmin;
	top: -1vmin;
}

.notifications img.embed {
	width: 2vmin;
	height: 2vmin;
}

.notification {
	width: 100% !important;
	background-color: rgba(37, 43, 56, 0.6);
	border-radius: 0%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 8px;
	margin: 0px;
	margin-top: 20px;
}

.notification > * {
	color: white;
}

/* Scrollbar */
.scrollbar {
	scrollbar-color: var(--scrollbar-color) var(--primary-color);
	scrollbar-width: thin;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.scrollbar::-webkit-scrollbar {
	height: 1.5vmin;
	width: 1.5vmin;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: rgb(104, 117, 137);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.scrollbar::-webkit-scrollbar-track {
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
}

.scrollbar::-moz-scrollbar {
	height: 1.5vmin;
	width: 1.5vmin;
}

.scrollbar::-moz-scrollbar-thumb {
	background: var(--scrollbar-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.scrollbar::-moz-scrollbar-track {
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
}

/* Spin Buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

/* Tables */
table {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

tr {
	width: 100%;
}

th {
	color: white;
	font-weight: 700;
	padding: 1.5vmin !important;
	margin: 1.5vmin !important;
}

thead th {
	border: none !important;
}