body {
	width: 100%;
	height: 100%;
}

.app-content {
	display: block;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden scroll !important;
	height: auto;
}

.job {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: var(--primary-color);
	border-radius: 4px;
	margin: 5px;
	width: calc(100% - 10px);
	padding: 5px;
}

.job > span {
	padding-left: 2px;
	padding-top: 0px;;
	color: white;
}

.btn {
	display: flex;
	margin: 3px;
	width: auto;
}

#title {
	font-weight: 800;
}

#location {
	font-size: 80%;
}