.github
*.au
*.lock
**/log-*.txt
/cache/
config/keys.cfg
config/server.cfg
config/webhooks.cfg
imgui.ini
node_modules
package-lock.json
resources/GHMattiMySQL/settings.xml
config/core.cfg
config/schema.cfg
*.cfg
*.cfg
config/core.cfg
config/schema.cfg
config/server_dev.cfg
resources/\[modules\]/\[assets\]
resources/\[modules\]/\[systems\]/inventory
