sv_hostname "^1Non^3stop^2RP^7.net ^02.0 | ^1dis^3cord^2.gg^7/nonstoprp"

sv_scriptHookAllowed 0

sets tags "roleplay, serious, nonstop"
sets locale "en-US"
sets sv_projectName "^1Non^3stop^2RP^7.net ^02.0 | ^1dis^3cord^2.gg^7/nonstoprp"
sets sv_projectDesc "Serious roleplay oriented server with a custom framework. Player economy driven and active DOJ."

sv_endpointprivacy true
sv_authMaxVariance 1
sv_authMinTrust 5
sv_PureLevel 1
sv_maxClients 196

add_ace resource.user command.add_principal allow
add_ace resource.user command.remove_principal allow
add_ace resource.user command.add_ace allow

#sv_master1 ""