* {
	--primary-color: rgb(100, 100, 100);
	--secondary-color: rgb(165, 108, 96);
	--tertiary-color: rgb(129, 165, 11);
	/* --primary-color: rgb(0, 31, 78);
	--secondary-color: rgb(0, 16, 41);
	--tertiary-color: rgb(238, 192, 54); */
	--aspect-ratio: calc(1450 / 977);
	
	color: white;
	--primary-text-color: white;
	--secondary-text-color: white;
}